<div id="footer">

    <div class="footer_content">
        <div class='blockelement'>
            <h3>Categories</h3>
            <ul title="Categories">
{% for category in app.categories %}
                    <li><a href="{{ app.url_generator.generate('category_url', { 'category' : category }) }}">{{ category|title }}</a></li>
{% endfor %}
                </ul>
            </div>
            <div class="blockelement">
                <h3>Blogroll</h3>
                <ul title="Blogroll">
    {% for link in app.links %}
        {% if link.Category == 'Blogroll' %}
                        <li><a href="{{ link.Target }}">{{ link.Title }}</a></li>
        {% endif %}
{% endfor %}
                    </ul>
                </div>
            <div class="blockelement">
                <h3>Awesome Stuff</h3>
                <ul title="Awesome Stuff">
    {% for link in app.links %}
        {% if link.Category == 'awesome' %}
                        <li><a href="{{ link.Target }}">{{ link.Title }}</a></li>
        {% endif %}
{% endfor %}
                    </ul>
                </div>
            </div>

            <p>
                <small>Powered by <a href="https://www.ohloh.net/p/lightblogengine" title="LightBlog Engine">LightBlog Engine</a></small>
            </p>
            </div>
