{# empty Twig template #}

{% extends "Main.twig" %}

{% block articles %}
{% for a in articles %}
<div id='articlehead'>
    <h2><a href="/article/{{ a.Title|replace(' ', '_') }}">{{ a.Title }}</a></h2> :: 
    <small>{{ a.Author }}</small> :: {{ a.Date|date("d/m/Y @ H:i") }}
</div>
<p id='body'>{{ a.Body|markdown}}</p>
{% endfor %}
{% endblock %}