{% extends 'Main.twig' %}

{% block quickpost %}
<div id="editor">  
{% if a is defined %}
<form action="/save_article" method="POST">
    <input hidden="true" name="Date" value="{{ a.Date.sec }}">
    <input hidden="true" name="ID" value="{{ a._id }}">
{% else %} 
<form action="/post_article" method="POST">
    {% endif %}
    <ul>
        <li><label>Article Title:</label><br />
            <input name="Title" size="50" value="{{ a.Title|default('') }}"/></li>
        <li><label>Articlebody:</label><br/>
            <textarea style="height: 400px" name="Body"/>{{ a.Body|default('') }}</textarea></li>
        <li><label>Tags:</label><small>Seperate with ";"</small><br /> 
            <textarea name="Tags" style="width: 80%">{{ a.Tags|default('')|join(';') }}</textarea>
        <li><label>Category:</label><br />
            <input name="Category" value="{{ a.Category|default('') }}"/></li>
        <li><input type="submit" value="Ok" /> :: <input type="reset" value="Reset"/></li>
    </ul>
</form>
        </div>
    {{ parent() }}
{% endblock %}
{% set article_form = true %}